@{
  Layout = "_Layout";
}

<h1>Welcome to the EVT!</h1>

<div class="button-area">
  <a href='@Url.Action("Index", "Components")'>
    <button>See all components</button>
  <a href='@Url.Action("Index", "Vendors")'>
    <button>See all vendors</button>
  </a>
</div>