@{
  Layout = "_Layout";
}

<h1>Welcome to the EVT!</h1>

<div class="button-area">
  <a href='@Url.Action("Index", "Egineers")'>
    <button>See all egineers</button>
  <a href='@Url.Action("Index", "Machines")'>
    <button>See all machines</button>
  </a>
</div>