@{
  Layout = "_Layout-Admin";
}
@model ElectronicsVendor.Models.Vendor

<h2>Create a new vendor</h2>

@using (Html.BeginForm())
{
  <div class="form-row">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <button class="green" type="submit">Add vendor</button>
  </div>
}
<div class="button-area">
  <a href='@Url.Action("Index")'>
    <button>Cancel</button>
  </a>
</div>