@{
  Layout = "_Layout-Admin";
}

@model ElectronicsVendor.Models.Vendor

<h2>Are you sure you want to delete vendor <span class="highlighted"> @Html.DisplayFor(model => model.Name)</span>?</h2>

@using (Html.BeginForm())
{
  <div class="form-row">
    <button class="red" type="submit">Delete</button>
  </div>
}

<div class="button-area">
  <a href='@Url.Action("Details", "Vendors", new { id = Model.VendorId })'>
    <button>Cancel</button>
  </a>
</div>