@{
  Layout = "_Layout-Admin";
}

@model SillyString.Models.Engineer

<h2>Are you sure you want to delete egineer type <span class="highlighted">@Html.DisplayFor(model => model.Type)</span>?</h2>

@using (Html.BeginForm())
{
  <div class="form-row">
    <button class="red" type="submit">Delete</button>
  </div>
}

<div class="button-area">
  <a href='@Url.Action("Details", new { id = Model.EngineerId })'>
    <button>Cancel</button>
  </a>
</div>
