@{
  Layout = "_Layout";
}
@using SillyString.Models


<h1>Welcome to Silly String factory!</h1>


<div class="button-area">

    <a href='@Url.Action("Index", "Engineers")'>
    <button>See all engineers</button>
  </a>
  <a href='@Url.Action("Index", "Machines")'>
    <button>See all machines</button>
  </a>
</div>